.ad {
    width: 100%;
    min-width: 1400px;

    .single-item {
        margin: 0;

        .slick-slide {
            outline: none;
        }

        .slick-dots {
            width: auto;
            height: 45px;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            bottom: 0;

            button {
                z-index: 1;

                &::before {
                    content: "";
                    width: 15px;
                    height: 15px;
                    background: aliceblue;
                    margin-right: 30px;
                    border-radius: 50px;

                    &:last-child {
                        margin: 0;
                    }
                }

                &.slick-prev {
                    width: 36px;
                    height: 36px;
                    background: #000000;
                    position: absolute;
                    right: 45%;
                    top: 466px;
                }
            
                &.slick-next {
                    right: 45%;
                    top: 466px;
                }   
            }
        }

        // button {
        //     z-index: 1;
        //     // width: 36px;
        //     // height: 36px;
        //     // background: #000000;

        //     &.slick-prev {
        //         left: 45%;
        //         top: 466px;
        //     }

        //     &.slick-next {
        //         right: 45%;
        //         top: 466px;
                
        //         &::before {
        //             transform: translate(-50%,-50%) rotate(45deg) scaleX(-1);
        //         }
        //     }
        // }
    }
}